.black-section {
    background-color: rgb(22, 22, 22); /* Черный фон */
    padding: 30px;         /* Отступы внутри секции */
    text-align: center;      /* Выравниваем элементы по центру */
    height: 20em;
  }
  
  /* Контейнер для круглых изображений */
  .circle-images-container {
    display: flex;           /* Используем Flexbox для выравнивания */
    justify-content: center; /* Выравниваем элементы по центру по горизонтали */
    align-items: center;     /* Выравниваем элементы по центру по вертикали */
    gap: 50px;               /* Расстояние между изображениями */
  }
  
  /* Круглые изображения */
  .circle-image {
    width: 100px;          /* Задаем ширину */
    height: 100px;         /* Задаем высоту */
    border-radius: 50%;      /* Делаем изображение круглым */
    overflow: hidden;       /* Обрезаем все, что выходит за границы круга */
    transition: transform 0.3s ease; /* Анимация при наведении */
  }
  
  .circle-image:hover {
    transform: scale(1.1);  /* Увеличиваем изображение при наведении */
  }
  
  /* Стили для самих изображений */
  .circle-image img {
    width: 100%;          /* Заполняем контейнер по ширине */
    height: 100%;         /* Заполняем контейнер по высоте */
    object-fit: cover;      /* Обрезаем изображение, чтобы заполнить контейнер */
  }

* {
  overscroll-behavior: none;
}
